numpy
scikit-image
scipy
scikit-learn
smplx==0.1.28
tqdm
yacs
numba
opencv-python
tensorboardx
filterpy
cython
chumpy
Pillow
trimesh
pyrender
matplotlib
json_tricks
torchgeometry
einops
joblib
boto3
requests
easydict
pycocotools
plyfile
timm
pyglet
psutil
seaborn
ultralytics==8.3.49
gitpython>=3.1.30
tqdm>=4.66.3
mmcv==1.7.1
mmcv-full==1.7.2
mmpose==0.28.0


setuptools~=68.2.0